version: '3'
services: 
  web:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/www/html:/usr/share/nginx/html"
      - "./my_nginx.conf:/etc/nginx/conf.d/default.conf"
      - "./certs:/etc/nginx/certs"
    restart: always

  portainer:
    image: portainer/portainer-ce:latest
    ports:
      - "9443:9443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "portainer_data:/data"
    restart: always

  my-app:
    image: lotoss25/my-super-python:latest
    container_name: python_web
    environment:
      DB_HOST: db
      DB_NAME: visit_counter
      DB_USER: lotoss
      DB_PASSWORD: 1231123a
    ports:
      - "5000:5000"
    restart: always

  watchtower:
    image: containrrr/watchtower
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      - WATCHTOWER_POLL_INTERVAL=30 # Перевіряти кожні 30 секунд (для тесту)
      - WATCHTOWER_CLEANUP=true     # Видаляти старі образи, щоб не забивати диск
    restart: always


  db:
    image: postgres:15-alpine
    container_name: my-postgres
    environment:
      POSTGRES_USER: lotoss
      POSTGRES_PASSWORD: 1231123a   # Придумай пароль
      POSTGRES_DB: visit_counter
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always


# --- МОНІТОРИНГ ---
  
  # 1. Шпигун (збирає метрики заліза)
  node_exporter:
    image: prom/node-exporter:latest
    container_name: monitoring_node_exporter
    restart: unless-stopped
    volumes:
      # Магія: ми прокидаємо реальні системні папки всередину контейнера,
      # щоб шпигун міг бачити реальний процесор і диск хоста.
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      # Кажемо шпигуну, де шукати дані (у примонтованих папках)
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'

  # 2. База даних метрик (Прометей)
  prometheus:
    image: prom/prometheus:latest
    container_name: monitoring_prometheus
    restart: unless-stopped
    ports:
      - "9091:9090" # Відкриємо порт назовні, щоб перевірити, чи працює (9091, бо 9090 зайнятий nginx-ом у минулих уроках або просто для краси)
    volumes:
      # Підсоавуємо йому наш конфіг, який ми створили в Кроці 1
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      # Створюємо сховище, щоб історія графіків не зникла після перезапуску
      - prometheus_data:/prometheus
    command:
      # Налаштування запуску (скільки зберігати дані, де конфіг)
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=15d' # Зберігати історію 15 днів

  # 3. Візуалізація (Графана)
  grafana:
    image: grafana/grafana:latest
    container_name: monitoring_grafana
    restart: unless-stopped
    ports:
      - "3000:3000" # Стандартний порт Графани
    volumes:
      - grafana_data:/var/lib/grafana # Зберігаємо дашборди і паролі
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # Пароль для входу (змінимо потім)


volumes:
  portainer_data:
  postgres_data:
  prometheus_data:
  grafana_data:
