.bash_history
.bash_logout
.bashrc
.cache/
.gitconfig
.kube/
.lesshst
.minikube/
.motd_shown
.profile
.ssh/
.sudo_as_admin_successful
.terraform.d/
.viminfo
.vimrc
.wget-hsts
kubectl
minikube-linux-amd64
hacker_secret
