.bash_history
.bash_logout
.bashrc
.cache/
.gitconfig
.kube/
.lesshst
.minikube/
.motd_shown
.profile
.ssh/
.sudo_as_admin_successful
.terraform.d/
.viminfo
.vimrc
.wget-hsts
kubectl
minikube-linux-amd64
hacker_secret
# Ігнорувати папку з плагінами (вони важкі і качаються через init)
**/.terraform/

# Ігнорувати файл блокування (хоча іноді його комітять, але поки можна ігнорувати)
.terraform.lock.hcl

# Ігнорувати файли стану (ТАМ ПАРОЛІ! НІКОЛИ НЕ КОМІТЬ ЇХ!)
*.tfstate
*.tfstate.backup
.env
.docker
