name: Build and push Docker Image

on:
  push:
    branches: ["main"]
    paths:
      - 'python_app/**'
      
jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v2


      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./python_app
          push: true
          tags: lotoss25/my-super-python:latest
