# Ігнорувати папку з кешем пітона (там лежать скомпільовані .pyc файли, вони нам не треба)
__pycache__/
*.pyc

# Ігнорувати віртуальне середовище (якщо ми його створимо)
venv/
env/

# Ігнорувати секрети (файли змінних оточення)
.env

# Ігнорувати системні файли (наприклад, macOS створює .DS_Store, Windows - Thumbs.db)
.DS_Store
Thumbs.db
