# Не копіювати Гіт-історію (вона важка і в контейнері не треба)
.git
.gitignore

# Не копіювати сам Dockerfile (він виконав свою роботу і всередині не потрібен)
Dockerfile

# Не копіювати кеш і сміття
__pycache__
*.pyc
.DS_Store
README.md
